<!DOCTYPE html>

<head>
	<meta charset="utf-8">
    <title>PetHome</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.16/css/bulma.min.css" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"> -->
    <!-- Compiled and minified JavaScript -->
    
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKXq2Ybcp12gMdRC1qsVsZpRMm_KRbJGw&callback=initMap">
    </script>
    
    
  </head>

<body>
    <%= render "layouts/navbar" %>
    <%= flash.alert %>
    <%= yield %>
</body>